html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-family: $SamsungOneUILatin400;
  line-height: 1.40;
}

html, body {
  height: 100%;
}

button,
textarea,
select,
a{
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: initial;
 -khtml-user-select: initial;
 -moz-user-select: initial;
 -ms-user-select: initial;
  user-select: initial;
}
input{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: text;
 -khtml-user-select: text;
 -moz-user-select: text;
 -ms-user-select: text;
  user-select: text;
}
input::placeholder{
  color: #A9A9A9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px;
  padding: 0;
}

h1
{
  font-family: $SamsungSharpSans;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $SamsungOneUILatin700;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.display-10{
  font-size: 10px;
}

.display-12{
  font-size: 12px;
}

.display-14{
  font-size: 14px;
}

.display-16{
  font-size: 16px;
}

.display-18{
  font-size: 18px;
}

.display-24{
  font-size: 24px;
}

.display-26{
  font-size: 26px;
}

.display-32{
  font-size: 32px;
}

.display-flex{
  display: flex;
}

strong,
b,
.bold {
  font-family: $SamsungOneUILatin700;
}

small{
  font-size: 80%;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 15px;
}
.pl-0{
  padding-left: 0 !important;
}
.pb-0{
  padding-bottom: 0 !important;
}

.pb-13{
  padding-bottom: 13px !important;
}

.pb-20{
  padding-bottom: 20px;
}
.pb-120{
  padding-bottom: 120px !important;
}
.pt-10{
  padding-top: 10px;
}
.pt-20{
  padding-top: 20px;
}
.pt-30{
  padding-top: 30px;
}
.pt-52{
  padding-top: 52px;
}
.pt-65{
  padding-top: 65px;
}
.pt-75{
  padding-top: 75px;
}
.pt-100{
  padding-top: 100px;
}
.width-20{
  width: 20% !important;
}
img {
  max-width: 100%;
  vertical-align: middle
}
a{
  color: $primary-color;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

button[disabled]{
  opacity: 0.3;
}

.btn-block{
  display: block;
  width: 100%;
}

.btn-center{
  display: block;
  min-width: 30%;
  margin: 0 auto;
}

.bg-blue {
  background-color: $primary-color;
}

.bg-grey {
  background-color: $light-grey;
}

.bg-white {
  background-color: $white;
}

.text-grey {
  color: #A0A0A0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left{
  text-align: left;
}

.float-left{
  float: left;
}

.vertical-align-top{
  vertical-align: top;
}

.pd-15 {
  padding: 15px;
}

.pr-0{
  padding-right: 0 !important
}

.pr-10{
  padding-right: 10px;
}

.pr-70{
  padding-right: 70px !important;
}

.mb-0{
  margin-bottom: 0;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-15{
  margin-bottom: 15px;
}

.mb-30{
  margin-bottom: 30px;
}
.mb-25{
  margin-bottom: 25px;
}
.mb-20{
  margin-bottom: 20px;
}
.ml-20{
  margin-left: 20px;
}
.mr-10{
  margin-right: 10px;
}
.align-item-vc{
  align-items: center;
}

.btn {
  @include br(50px);
  padding: 15px 25px;
  color: $white;
  background-color: $btn-secondary-color;
  min-width: 180px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $SamsungOneUILatin700;
  &.btn-sm{
    padding: 10px 15px;
    min-width: 90px;
  }
  &:active{
    background-color:rgba($color: $blue, $alpha: 0.9);
  }
}

.dim-btn{
  border-radius: 50px;
  padding: 15px 25px;
  color: black;
  background-color: #DBDBDB;
  min-width: 180px;
  text-transform: uppercase;
  font-family: $SamsungOneUILatin700;
}

.form-group {
  margin-bottom: 15px;
  background-color: $white;
  z-index: 2;
  width: 100%;
}
.form-field-label {
  display: block;
  font-family: $SamsungOneUILatin400;
  margin-bottom: 15px;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.form-control {
  width: 100%;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $form-control-bdr-clr;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  &.invalid-control{
    border-bottom: 1px solid $red;
  }
}
.error {
  display: block;
  color: $red;
}
.card {
  @include br(6px);
  box-shadow: $box-shadow;
  margin-bottom: 15px;
  background-color: $white;
}

.card-header,
.card-body {
  padding: 20px;
}
.card-header {
  background-color: $grey;
  font-weight: bold;
}

main{
  display: block;
}

.display-smal{
  font-size: 12px;
}

.cursor-pointer{
  cursor: pointer;
}

.samsung-sharp-sans-bold{
  font-family: $SamsungSharpSansBold;
}

.samsung-sharp-sans-500{
  font-family: $SamsungSharpSans500;
}