$primary-color:#170F4F;
$primary-cyan:#00BAC7;
.qr-scan-page{
    min-width: 1280px;
    .services{
        padding-top: 90px;
        padding-bottom: 90px;
        .section-heading{
            margin-bottom: 27px;
            font-size: 38px;
            line-height: 48px;
            font-family: 'Samsung Sharp Sans', sans-serif;
        }
    }
    .desktop-container{
        width: 960px;
        margin: 0 auto;
        @media(max-width:1400px) {
            width: 900px;
        }
        .card{
            padding: 0;
            background-color: #fff;
            padding: 0;
            background-color: #fff;
            border-radius: 0;
            box-shadow: none;
            display: flex;
            height: 100%;
            flex-direction: column;
            text-align: center;
            .card-body-qr{
                padding: 0 20px 20px 20px;
                p{
                    margin-top: 30px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            h2{
                font-size: 24px;
                font-family: 'Samsung Sharp Sans', sans-serif;
                line-height: 36px;
            }
            .icon{
                text-align: center;  
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;   
                img{
                    width: 150px;
                    height: 150px;
                }   
            }
        }
    }
    .main-header{
        height: 80px;
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #E5E5E5;
    }
    .home-banner{
        position: relative;
        color: $primary-color;
        text-align: center;
        .banner-content{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            align-items: center;
            font-weight: 300;
            font-size: 64px;
            line-height: 86px;
            letter-spacing: -0.015em;
            justify-content: center;
            display: flex;
            @media(max-width:1400px) {
                font-size: 54px;
            }
        }
    }
    
    .qrCodeSection{
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        color: white;
        position: relative;
        top: -1px;
        .desktop-container{
            width: 770px;
        }
        .row{
            align-items: center;
        }
    }
    .desktop-footer{
        height: 74px;
        width: 100%;
        background-color: #f7f7f7;
        color: black;
        padding: 20px;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .inline-block{
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
        }
    }
}
