@font-face {
  font-family: 'Samsung Sharp Sans bold';
  src: url('../fonts/SamsungSharpSans-Bold/SamsungSharpSans-Bold.eot');
  src: url('../fonts/SamsungSharpSans-Bold/SamsungSharpSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SamsungSharpSans-Bold/SamsungSharpSans-Bold.woff') format('woff'), url('../fonts/SamsungSharpSans-Bold/SamsungSharpSans-Bold.ttf') format('truetype'), url('../fonts/SamsungSharpSans-Bold/SamsungSharpSans-Bold.svg#SamsungSharpSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Samsung Sharp Sans 500';
  src: url('../fonts/SamsungSharpSans-Medium/SamsungSharpSans-Medium.eot');
  src: url('../fonts/SamsungSharpSans-Medium/SamsungSharpSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SamsungSharpSans-Medium/SamsungSharpSans-Medium.woff') format('woff'), url('../fonts/SamsungSharpSans-Medium/SamsungSharpSans-Medium.ttf') format('truetype'), url('../fonts/SamsungSharpSans-Medium/SamsungSharpSans-Medium.svg#SamsungSharpSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('../fonts/SamsungSharpSans-Regular/SamsungSharpSans-Regular.eot');
  src: local('SamsungSharpSans-Regular'), url('../fonts/SamsungSharpSans-Regular/SamsungSharpSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SamsungSharpSans-Regular/SamsungSharpSans-Regular.woff') format('woff'), url('../fonts/SamsungSharpSans-Regular/SamsungSharpSans-Regular.ttf') format('truetype'), url('../fonts/SamsungSharpSans-Regular/SamsungSharpSans-Regular.svg#SamsungSharpSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungOneUILatin 400';
  src: url('../fonts/SamsungOneUILatin-400/SamsungOneUILatin-400.eot');
  src: url('../fonts/SamsungOneUILatin-400/SamsungOneUILatin-400.eot?#iefix') format('embedded-opentype'), url('../fonts/SamsungOneUILatin-400/SamsungOneUILatin-400.woff') format('woff'), url('../fonts/SamsungOneUILatin-400/SamsungOneUILatin-400.ttf') format('truetype'), url('../fonts/SamsungOneUILatin-400/SamsungOneUILatin-400.svg#SamsungOneUILatin-400') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungOneUILatin 700';
  src: url('../fonts/SamsungOneUILatin-700/SamsungOneUILatin-700.eot');
  src: url('../fonts/SamsungOneUILatin-700/SamsungOneUILatin-700.eot?#iefix') format('embedded-opentype'), url('../fonts/SamsungOneUILatin-700/SamsungOneUILatin-700.woff') format('woff'), url('../fonts/SamsungOneUILatin-700/SamsungOneUILatin-700.ttf') format('truetype'), url('../fonts/SamsungOneUILatin-700/SamsungOneUILatin-700.svg#SamsungOneUILatin-700') format('svg');
  font-weight: bold;
  font-style: normal;
}

$SamsungSharpSans:'Samsung Sharp Sans', sans-serif;
$SamsungSharpSans500:'Samsung Sharp Sans 500', sans-serif;
$SamsungSharpSansBold:'Samsung Sharp Sans bold', sans-serif;
$SamsungOneUILatin400:'SamsungOneUILatin 400', sans-serif;
$SamsungOneUILatin700:'SamsungOneUILatin 700', sans-serif;
