@import "variables";
@import "fonts";
@import "mixins";
@import "common";
@import "grid";

%card-column {
  float: left;
  padding: 0 10px 0 0;
  margin-bottom: 40px;
}
%card-row {
  margin: 0 -5px;
}
%card-content {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 16px;
}

/* Main Content start */
.main-content{
    width: 83%;
    margin: 0 auto 0 auto;

    @media (min-width: 600px) and (max-width:1000px){
        width: unset;
        margin: 0 20px;
    }

    @media (max-width: 599px){
       width: 100%;
   }
}
/* Main Content end */

/*@Error pages starting*/
.error-page{
  padding:96px 0;
  @extend .text-center;
  h2{
    padding: 0 0 25px;
  }
  .btn-block{
    max-width: 320px;
    margin: 0 auto;
  }
  .footer-order-error{
    border-top: 1px solid #DBDBDB;
    padding-top: 20px;
    margin: 0 15px;
    text-align: left;
    a{
      color: $blue;
    }
  }
}
/*@Error pages end*/

/*@Header starting*/
.header-fixed{
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  padding-bottom: 20px;
  padding-top: 20px;
  @media(max-height:520px) {
    bottom: 0;
    position: relative;
  }
}
/*@Header end*/

/*@Footer starting*/
.footer-fixed{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  padding-bottom: 20px;
  padding-top: 20px;
  @media(max-height:520px) {
    bottom: 0;
    position: relative;
  }
}
/*@Footer end*/

/*@Phone Input starting*/
.phone-input-content {
  text-align: center;
}

.phone-input {
  margin-left: 40%;
  margin-right: 40%;
}
/*@Phone Input starting*/
