@font-face {
    font-family: 'Samsung InterFace';
    src: url('SamsungInterFace-Regular.eot');
    src: url('SamsungInterFace-Regular.eot?#iefix') format('embedded-opentype'),
        url('SamsungInterFace-Regular.woff') format('woff'),
        url('SamsungInterFace-Regular.ttf') format('truetype'),
        url('SamsungInterFace-Regular.svg#SamsungInterFace-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

